@media (max-width: 600px) {
    body {
        display: none;
    }

    html::before {
        content: "This website is not optimized for mobile devices. Please use a desktop browser. Github: http://github.com/ramz1t/KitchenSync";
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        padding: 2rem;
        box-sizing: border-box;
        z-index: 9999;
    }
}


* {
  font-family: "VT323", monospace !important;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

h1, h2, h3 {
    background: white;
    color: black;
    width: fit-content;
}

h1 {
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 5px;
}

p {
    font-size: 1.2rem;
}

body {
  	background-color: #000;
  	color: #fff;
}

.container {
	display: flex;
	flex-direction: column;
  	max-width: 800px;
  	margin: 0 auto;
	padding: 30px;
  	border-left: 1px solid #fff;
  	border-right: 1px solid #fff;
	min-height: 100dvh;
}


/* INPUTS AND BUTTONS */

.input-group {
    display: grid;
}

.button-group {
    display: flex;
    gap: 5px;
}

.input-group label {
    background: #000;
    padding: 1px;
    translate: 3px 5px;
    width: fit-content;
}

.input-group p {
    margin-left: 3px;
    font-size: 0.9rem;
    color: #b0b0b0;
}

input, textarea {
    border: 1px solid #fff;
    padding: 3px;
    background-color: #000;
    color: #fff;
    font-size: 1.2rem;
}

button, a.button {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    font-size: 1.2rem;
    cursor: pointer;
    width: fit-content;
}

a.button {
	text-decoration: none;
}

button[data-role="destructive"] {
    border: 1px solid red;
    color: red;
}

button:hover, a.button:hover {
    background-color: #222222;
}

input:focus {
    outline: none;
}

::selection {
    background: white;
    color: black;
}

.error-message {
    border: 1px solid red;
    color: red;
    width: fit-content;
    margin-top: 10px;
    padding: 5px;
}

.error-message::selection {
	background: red;
	color: white;
}

footer {
    margin-top: auto !important;
    padding: 5px;
    text-align: center;
}

footer > a {
    color: #fff;
    text-decoration: wavy underline;
}

.heart {
    color: red;
}


/* BREADCRUMBS */

.breadcrumbs {
	width: fit-content;
	margin-bottom: 8px;
	font-size: 1.2rem;
}

.breadcrumbs > .current {
	text-decoration: underline;;
}

.breadcrumbs > a {
	color: #fff;
	text-decoration: none;
}

.breadcrumbs > a:hover {
	opacity: 0.8;
}

.bordered-form {
	border: 1px solid #ffffff;
  	padding-left: 5px;
  	padding-right: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
}

.bordered-form > .button-group {
  margin-top: 10px;
}


/* CATEGORIES SELECTOR */

.categories {
  display: flex;
  gap: 15px;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 16px;
}

.categories > a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  padding: 7px 15px;
  text-align: center;
  text-decoration: double underline;
  text-underline-offset: 5px;
  white-space: nowrap;
}

.categories > a.active {
   text-decoration: wavy underline;
}