.settings-list {
  display: grid;
  gap: 16px;
  margin-top: 8px;
}

.settings-list > li {
  gap: 8px;
  padding: 8px;
  border: 1px solid #ffffff;
  display: flex;
}

.settings-item {
    display: grid !important;
}

.setting-title {
  font-size: 1.5rem;
  text-decoration: underline;
  width: fit-content;
  color: #fff;
}

.category-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
}

.category-item > p {
    margin-right: auto;
}
